# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log

# Virtual environment
venv/
.env/

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Linux system/user files
*.swp
.xsession-errors
.cache/
.config/
.local/
